header h1 {  /*propriétés du titre du site, aligné au centre, marge de 2% en bas par rapport aux blocs, taille de texte et sa couleur*/
    text-align: center;
    margin-bottom: 2%;
    font-size: 300%;
    color: rgb(94, 115, 117);
}


body { /* Couleur de fond de la page */
    background-color: rgb(249, 246, 206);
}

header div { /* Propriétés des boutons du menu, couleur de fond, taille de texte, bordure arrondie, marge de 2.4% à gauche, largeur de 16.3%, texte aligné au centre, marge intérieure de 0.3%*/
    width: 16.3%;
    background-color: rgb(245, 227, 113);
    display:inline-block;
    padding: 0.3%;
    text-align: center;
    border-radius: 50px;
    font-size: 1em;
    margin-left: 2.4%;
    font-family:Arial;
}

header div:hover { /* Couleur de fond des boutons du menu au survol de la souris et durée avant cet affichage*/
    background-color:rgb(255, 173, 10);
    transition-duration: 0.4s;
    color: rgb(245, 227, 113);
}

#divMenu { /* Couleur de fond du bloc de la page sur laquelle on se trouve*/
        background-color:rgb(255, 173, 10);
        color: rgb(245, 227, 113);
}

a { /* enlève la couleur par défaut et le soulignement des liens hypertextes */
    text-decoration: none;
    color: black;
}

header h2 { /* Propriétés du titre de la page du site, taille de texte, marge de 3% en haut et 2.5% à gauche, couleur de texte et soulignement*/
    font-size: 220%;
    margin: 3% 0 0 2.5%;
    color: rgb(233, 73, 67);
    text-decoration: underline;
    font-family: Arial;
}

article p{ /* Propriétés du texte de l'article, taille de texte, marge de 2% en haut et 3% à gauche, couleur de texte*/
    margin: 2% 0 0 3%;
    font-size: 150%;
    padding: 0 2% 0 0;
}

footer p { /* Propriétés du texte du pied de page(pour que la suite du texte passe sous l'image), taille de texte, marge de 2.2% à gauche*/
    font-size: 150%;
    margin: 0 0 0 2.2%;
}

#footer1 { /* Propriétés du pied de page, pour qu'il soit aligné verticalement aux autres parties de la page et se retrouve en bas*/
    display: inline-block;
    vertical-align: bottom;
}
#article1 { /* Propriétés de l'article page1, sa largeur et pour qu'il soit à gauche du "aside"*/
    width: 75%;;
    float: left;
}

#article2 { /* Propriétés de l'article page2, sa largeur et pour qu'il soit à gauche du "aside"*/
    width: 75%;;
    float: right;
}

#aside1 { /* Propriétés du bloc "aside" page1, sa largeur et pour qu'il soit à droite de l'article*/
    width: 24%;;
    float: right;
}

#aside2 { /* Propriétés du bloc "aside"page2, sa largeur et pour qu'il soit à droite de l'article*/
    width: 24%;;
    float: left;
    margin-left: 1%;
}

#img1 { /* Propriétés de l'image de la page 1, sa largeur, marge de 7% en haut*/
    width: 90%;
    margin : 7% 0 0 0;
}

#img2 { /* Propriétés de l'image de la page 2, sa largeur, marge de 9% en haut et 20% à gauche*/
    width: 65%;
    margin : 9% 0 0 20%;
}

aside p { /* Propriétés du texte de l'aside pour qu'il soit aligné au centre de la balise qui le contient*/
    text-align: center;
    font-size: 13px;
}

#titreSimu {
    text-align: center;
    font-size: 35px;
    color: rgb(59, 183, 197);
    font-family: Courier;
}

table {
    margin: 3% 0 0 15%;
}

.imgTableau {
    width: 100%;
}

select {
    border-radius: 50px;
    color: rgb(93, 132, 110);
    background-color: rgb(231, 247, 160);
    width: 39%;
    padding: 1% 1% 1% 1%;
    font-size: 15px;
}

option {
    font-weight: bold;
}

button {
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    margin-top: 3.5%;
    cursor: pointer;
    padding: 1% 1% 1% 1%;
    background-color: rgb(240, 187, 87);
    border-radius: 10px;
} 

#imgSimuA {
    display: none;
}

#imgSimuB {
    display: none;
}

#imgSimuC {
    display: none;
}

#imgSimuD {
    display: none;
}

#imgSimuE {
    display: none;
}

#imgSimuF {
    display: none;
}

#imgSimuG {
    display: none;
}

#imgSimuH {
    display: none;
}

.imgSimuOn {
    display: block !important;
    width: 50%;
    margin: 5% 25% 0 25%;
}

.divPDV {
    display: inline-block;
    width: 33.1%;
    text-align: center;
}

label {
    font-size: 18px;
}

.imgTableau:hover{
    opacity: 0.65;
    transition-duration: 0.3s;
    cursor: pointer;
}

.divPhoto {
    width:25%;
    display: inline-block;
    margin : 3% 4.06% 3% 4.06%;
}

#div1-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div2-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div3-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}  

#div4-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div5-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div6-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div7-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div8-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div9-overlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1-content{
    width: 47%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div2-content{
    width: 65%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div3-content{
    width: 47%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div4-content{
    width: 47%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div5-content{
    width: 65%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div6-content{
    width: 65%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div7-content{
    width: 65%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div8-content{
    width: 65%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.div9-content{
    max-width: 80%;
    padding: 2%;
    box-sizing: border-box;
    background: #fff2e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.imgPortraitDiv {
    width:55%;
    float: left;
}

.imgPaysageDiv {
    width:70%;
    float: left;
}

#p1 {
    float: right;
    width: 40%;
    margin: 0 1.5% 0 1.5%;
    padding:  0 0 0 0;
    text-align: center;
    font-size: 1.55em;
    line-height: 2.5em;
}

#p2 {
    float: right;
    width: 18%;
    padding: 0 0 0 0;
    font-size: 1.55em;
    margin : 0 5% 0 5%;
    text-align: center;
    line-height: 2.5em;
}

#p3 {
    float: right;
    width: 40%;
    margin: 0 1.5% 0 1.5%;
    padding:  0 0 0 0;
    text-align: center;
    font-size: 1.55em;
    line-height: 2.5em;
}

#p4 {
    float: right;
    width: 40%;
    margin: 0 1.5% 0 1.5%;
    padding:  0 0 0 0;
    text-align: center;
    font-size: 1.55em;
    line-height: 2.5em;
}

#p5 {
    float: right;
    width: 18%;
    padding: 0 0 0 0;
    font-size: 1.55em;
    margin : 0 5% 0 5%;
    text-align: center;
    line-height: 2.5em;
}

#p6 {
    float: right;
    width: 18%;
    padding: 0 0 0 0;
    font-size: 1.55em;
    margin : 0 5% 0 5%;
    text-align: center;
    line-height: 2.5em;
}

#p7 {
    float: right;
    width: 18%;
    padding: 0 0 0 0;
    font-size: 1.55em;
    margin : 0 5% 0 5%;
    text-align: center;
    line-height: 2.5em;
}

#p8 {
    float: right;
    width: 18%;
    padding: 0 0 0 0;
    font-size: 1.55em;
    margin : 0 5% 0 5%;
    line-height: 2.5em;
}

#p9 {
    float: right;
    width: 40%;
    margin: 0 1.5% 0 1.5%;
    padding:  0 0 0 0;
    text-align: center;
    font-size: 1.55em;
    line-height: 2.5em;
}

#div1-overlay.open {
    opacity: 1;
    z-index: 999;
}
#div2-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div3-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div4-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div5-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div6-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div7-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div8-overlay.open {
        opacity: 1;
    z-index: 999;;
}
#div9-overlay.open {
        opacity: 1;
    z-index: 999;;
}

.a1 {
    color: rgb(59, 183, 197);
    text-decoration: underline;
}

.divButton {
    width:15%;
    font-size: 1.5em;
    background: linear-gradient(to right, orange, rgb(252, 252, 124))
}

#img3 {
    width: 60%;
    margin: 2% 20% 0 20%;
}
.section1 {
    width: 100%;
    display: inline-block;
}

@media (max-width: 1480px) {
    header div {
        font-size: 0.8em;
    }
}

@media (max-width: 1255px) {
    header div {
        font-size: 0.7em;
    }
    .divPhoto {
        width: 20%;
        margin : 3% 6.5% 3% 6.5%;
    }
}

@media screen and (max-width: 1040px) {
    header div {
        font-size: 0.6em;
    }
    .divPhoto {
        width: 20%;
        margin : 3% 6% 3% 6%;
    }
}

@media screen and (max-width: 431px) {
    header div {
        width:75%;
        margin: 2% 12.2% 0 12.2%;
    }
    #article1 {
        width: 100%;
        float: none;
    }
    header h1 {
        font-size: 30px;
    }
    
    header h2 {
        font-size:20px;
        margin: 3% 0 0 0;
    }
    
    article p {
        font-size: 13px;
        margin: 2% 0 0 0;
    }
    footer p {
        font-size: 13px;
        margin: 0 0 0 0;
    }
    #aside1 {
        width: 100%;
        float: none;
        margin-top: 3%;
    }
    #img1 {
        width: 50%;
        margin: 0 25% 0 25%;
    }
    aside p {
        text-align: center;
    }
    #section {
       display:flex;
        flex-direction: column-reverse; 
    }
    #article2 {
        float: none;
        width: 100%;
    }
    #aside2 {
        float:none;
        width:100%;
        margin: 3% 0 1% 0;
    }
    #img2 {
        width: 50%;
        margin: 0 25% 0 25%;
    }
    button {
        width: 30%;
        margin: 3.5% 35% 0 35%;
    }
    .divPDV {
        width: 100%;
        margin-top: 2%;
    }
    #img3 {
        width: 80%;
        margin: 3% 10% 0 10%;
    }
    .divPhoto {
        width: 50%;
        margin : 10% 25% 0 25%;
        display: block;
    }
    .div1-content{
        width: 80%;
    }
    .divButton {
        width:30%;
        font-size: 1.25em;
    }
    #p1 {
        font-size: 0.75em;
    }
    .div3-content{
        width: 80%;
    }
    .div4-content{
        width: 80%;
    }
    .div9-content{
        width: 80%;
    }
    #p3 {
            font-size: 0.75em;
        }
    #p4 {
            font-size: 0.75em;
        }
    #p9 {
            font-size: 0.75em;
    }
    .div2-content{
        width: 80%;
    }
    .div5-content{
        width: 80%;
    }
    .div6-content{
        width: 80%;
    }
    .div7-content{
        width: 80%;
    }
    .div8-content{
        width: 80%;
    }
    #p2 {
            font-size: 0.47em;
            line-height: 2em;
        }
    #p5 {
            font-size: 0.47em;
            line-height: 2em;
        }
    #p6 {
            font-size: 0.47em;
            line-height: 2em;
        }
    #p7 {
            font-size: 0.47em;
            line-height: 2em;
        }
    #p8 {
            font-size: 0.47em;
            line-height: 2em;
        }  
}